<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Exile Realms{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('bundles/exile/css/bootstrap/bootstrap.css') }}">
            <link rel="stylesheet" href="{{ asset('bundles/exile/css/bootstrap/bootstrap-grid.css') }}">
            <link rel="stylesheet" href="{{ asset('bundles/exile/css/exile.css') }}">
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">ER</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            {{  knp_menu_render('AppBundle:Builder:mainMenu', {'currentClass':'active'}) }}
        </div>
    </nav>
    <div class="container">
        {% for type, flashes in app.session.flashbag.all %}
            {% for flash in flashes %}
                <div class="alert alert-{{ type }} fade in">
                    {{ flash }}
                </div>
            {% endfor %}
        {% endfor %}
        {% block body %}{% endblock %}
    </div>
        {% block javascripts %}
            <script src="{{ asset('bundles/exile/js/jquery-3.2.1.min.js') }}"></script>
            <script src="{{ asset('bundles/exile/js/popper.js') }}"></script>
            <script src="{{ asset('bundles/exile/js/bootstrap/bootstrap.min.js') }}"></script>
        {% endblock %}
    </body>
</html>
