html {
    height:100%;
}

body {
    min-height:100%;
    background-image: url('../images/town.jpg');
}

.exile-box {
    color: white;
    background: rgba(0, 0, 0, 0.45);
    padding: 10px;
    margin: 10px;
}

.exile-title {

}