{% extends 'base.html.twig' %}

{% block title %}
{{  parent() }}
{% endblock %}

{% block body %}
    <div class="exile-box">
        <h1>Welcome to Exile Realms!</h1>
    </div>

    <div class="row">
        <div class="col-8 exile-box" style="height:500px;">
            <h4>The number one RPG and Strategy game in Europe!</h4>
        </div>
        <div class="col-3 exile-box" style="height:500px;">
            Join the realm!
            <hr/>
            {{ form_start(form , {attr: {class: "form-group"}}) }}
            {{ form_row(form.email , {attr: {class: "form-control"}}) }}
            {{ form_row(form.plainPassword.first, {attr: {class: "form-control"}}) }}
            {{ form_row(form.plainPassword.second, {attr: {class: "form-control"}}) }}

            <br/>
            <button type="submit" class="btn btn-primary float-right">Register!</button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}